@use "colours" as *
@use "fonts" as *

*   
    padding: 0px
    margin: 0px
    box-sizing: border-box

body
    display: grid
    grid-template-rows: 10% 1fr 10%
    background: $background
    width: 100vw
    height: 100vh
    justify-content: center
    align-items: center

header, footer
    display: flex
    justify-content: center
    align-items: center
    background: black
    height: 100%
    width: 100vw
    gap: 1rem
    color: $background
    font-size: 2rem
    font-family: 'Albert Sans', sans-serif
    z-index: 6

main
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: auto

    .endGameModal
        display: none
        z-index: 6
        width: 400px
        height: 400px
        position: absolute
        .circle
            display: none
            fill: none
            stroke: $red
            stroke-width: 12px
            stroke-dasharray: 200px
            transition: 1s
            animation: popup forwards 0.5s ease-in-out
        .cross
            display: none
            stroke: $darker-blue
            stroke-width: 15px
            stroke-linecap: round
            stroke-dasharray: 200px
            animation: popup forwards 0.5s ease-in-out
    .endGameModal.circle
        display: flex
        .circle
            display: block
    .endGameModal.cross
        display: flex
        .cross
            display: block


    .overlay
        display: none
        position: absolute
        opacity: 1
        width: 100%
        height: 100%

    .overlay.active
        display: block
        cursor: pointer
        z-index: 7
    .game-container
        width: 400px
        height: 400px
        .board
            display: grid
            grid-template-row: 1fr 1fr 1fr
            grid-template-columns: 1fr 1fr 1fr
            grid-gap: 8px
            background: $blue
            width:100% 
            height:100% 
            .field
                display: flex
                position: relative
                align-items: center
                justify-content: center
                background: $background
                .circle 
                    z-index: 5
                    display: none
                    position: absolute
                    fill: none
                    stroke: $red
                    stroke-width: 12px
                    stroke-dasharray: 200px
                    stroke-dashoffset: 200px
                    stroke-linecap: round
                    animation: draw forwards 0.3s ease-out
                    transition: 1s
                .circle.active 
                    display: block
                .cross
                    z-index: 5
                    display: none
                    position: absolute
                    stroke: $darker-blue
                    stroke-width: 15px
                    stroke-linecap: round
                    stroke-dasharray: 200px
                    stroke-dashoffset: 300px
                    transition: 1s
                    #line-1
                        animation: draw forwards 0.3s ease-out
                    #line-2
                        animation: draw-rev forwards 0.3s ease-out
                .cross.active
                    display: block
    
    div.game-container.active > *
        animation: blur forwards 1.5s ease


@keyframes draw 
    to  
        stroke-dashoffset: 0px

@keyframes draw-rev 
    to  
        stroke-dashoffset: 100px

@keyframes popup
    0% 
        transform: scale(0.3)
    100%
        transform: scale(1)
@keyframes blur
    0%
        opacity: 1
    100%
        opacity: 0
    