@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  background: #f1faee;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100%;
  width: 100vw;
  gap: 1rem;
  color: #f1faee;
  font-size: 2rem;
  font-family: "Albert Sans", sans-serif;
  z-index: 6;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
main .endGameModal {
  display: none;
  z-index: 6;
  width: 400px;
  height: 400px;
  position: absolute;
}
main .endGameModal .circle {
  display: none;
  fill: none;
  stroke: #e63946;
  stroke-width: 12px;
  stroke-dasharray: 200px;
  transition: 1s;
  animation: popup forwards 0.5s ease-in-out;
}
main .endGameModal .cross {
  display: none;
  stroke: #1d3557;
  stroke-width: 15px;
  stroke-linecap: round;
  stroke-dasharray: 200px;
  animation: popup forwards 0.5s ease-in-out;
}
main .endGameModal.circle {
  display: flex;
}
main .endGameModal.circle .circle {
  display: block;
}
main .endGameModal.cross {
  display: flex;
}
main .endGameModal.cross .cross {
  display: block;
}
main .endGameModal.draw {
  display: flex;
}
main .endGameModal.draw .circle {
  display: block;
}
main .endGameModal.draw .cross {
  display: block;
}
main .overlay {
  display: none;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
}
main .overlay.active {
  display: block;
  cursor: pointer;
  z-index: 7;
}
main .game-container {
  width: 400px;
  height: 400px;
}
main .game-container .board {
  display: grid;
  grid-template-row: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  background: #a8dadc;
  width: 100%;
  height: 100%;
}
main .game-container .board .field {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #f1faee;
}
main .game-container .board .field .circle {
  z-index: 5;
  display: none;
  position: absolute;
  fill: none;
  stroke: #e63946;
  stroke-width: 12px;
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  stroke-linecap: round;
  animation: draw forwards 0.3s ease-out;
  transition: 1s;
}
main .game-container .board .field .circle.active {
  display: block;
}
main .game-container .board .field .cross {
  z-index: 5;
  display: none;
  position: absolute;
  stroke: #1d3557;
  stroke-width: 15px;
  stroke-linecap: round;
  stroke-dasharray: 200px;
  stroke-dashoffset: 300px;
  transition: 1s;
}
main .game-container .board .field .cross #line-1 {
  animation: draw forwards 0.3s ease-out;
}
main .game-container .board .field .cross #line-2 {
  animation: draw-rev forwards 0.3s ease-out;
}
main .game-container .board .field .cross.active {
  display: block;
}
main div.game-container.active > * {
  animation: blur forwards 1.5s ease;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes draw-rev {
  to {
    stroke-dashoffset: 100px;
  }
}
@keyframes popup {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blur {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}/*# sourceMappingURL=style.css.map */